﻿body {
    font: bold 18px Andale Mono, monospace;
}

/* Сетка как будут располагаться шахты */
.flex-container {
    display: flex;
}

.row {
    flex-direction: row;
}

.row-reverse {
    flex-direction: row-reverse;
}

.flex-item {
    text-align: center;
    font-size: 1em;
    padding: 1em;
}

.main-upgrade {
    width: 240px;
}

.red {
    color: red;
}

.green {
    color: green;
}

.buttonLvl {
    margin: 0 20px 0 20px;
}

/* Анимация */
span.horizontal-shake {
    animation: horizontal-shaking 0.35s infinite;
    display: inline-block;
}

@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(1px) }
    50% { transform: translateX(-2px) }
    75% { transform: translateX(1px) }
    100% { transform: translateX(0) }
}